.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._形状 {
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._图片 {
}
._表格 {
}
._形状1 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
}
._单元格 {
}
._水平线 {
}
._文本链接 {
  color:#428BCA;
}
._鼠标悬停文本链接时 {
  color:#2A6496;
}
._鼠标按下文本链接时 {
}
._垂直线 {
}
._正文 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#2D2D2D;
  text-align:left;
}
._辅助文字 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C3C3C3;
  text-align:left;
}
._失效文字 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#E7E7E7;
  text-align:left;
}
._小标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5A5E64;
  text-align:left;
}
._警示文字 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF5757;
  text-align:left;
}
._主题标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:20px;
  color:#2D2D2D;
  text-align:left;
}
._绿色提示文字 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#2ECC71;
  text-align:left;
}
.box_1 {
}
.ellipse {
}
.box_2 {
}
.text_field {
  color:#000000;
  text-align:left;
}
._输入框标准文字样式 {
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:rgba(0, 0, 0, 0.509803921568627);
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
._二级标题1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
._流程形状1 {
}
._文本段落1 {
  text-align:left;
}
._形状2 {
}
.paragraph {
  text-align:left;
}
.line {
}
.box_3 {
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.horizontal_line {
}
.paragraph1 {
  text-align:left;
}
.heading_21 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.shape {
}
._60号字_如金额展示、金额输入） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
.image {
  color:#000000;
}
.placeholder {
}
.vertical_line {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.flow_shape {
}
.table {
}
.table_cell {
}
.sticky_1 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.iconfont {
  font-family:'iconfont', 'iconfont Medium';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.icon {
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.button {
}
.box_11 {
}
.blockquote {
  font-family:'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
.lead {
  font-family:'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:21px;
  color:#333333;
  line-height:29px;
}
._btn-default {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-primary {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-primary_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-link {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._btn-link_hover {
  color:#2A6496;
  text-align:center;
  line-height:20px;
}
.label1 {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.form_text_field {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.dropdown-menu {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
.dropdown-menu_hover {
  line-height:26px;
}
._nav-tab_focused_tab {
  color:#555555;
  line-height:20px;
}
._nav-tab_background_tabs {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#2A6496;
}
._nav-pills_focused_pill {
  color:#FFFFFF;
}
._nav-pills_background_pills {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:left;
  line-height:20px;
}
._nav-pills_pill_hover {
  color:#2A6496;
}
._navbar-default__content_ {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  color:#555555;
  line-height:20px;
}
._navbar-default__background_ {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
  line-height:20px;
}
._navbar-default_link_hover {
  color:#2A6496;
}
._navbar-inverse__background_ {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link {
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link_hover {
  color:#FFFFFF;
}
._breadcrumb_background {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._pagination {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  line-height:26px;
}
._pager_btn {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#428BCA;
  line-height:20px;
}
._alert-danger {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A94442;
  line-height:20px;
}
._progressbar_base {
  line-height:20px;
}
._progressbar_default {
  line-height:20px;
}
._btn-grp__btn-default__ends_ {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default__center_ {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default_hover {
}
._btn-grp_divider {
}
._dropdown_menuitem {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
._dropdown_menuitem_hover {
  color:#252525;
}
._dropdown-menu__dropdown-header {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:17px;
}
._modal-dialogue_header {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:25px;
}
._modal-dialogue_content {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._modal-backdrop {
}
._文本段落2 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
._一级标题1 {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
._二级标题2 {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
  line-height:33px;
}
._三级标题1 {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
  line-height:26px;
}
._四级标题1 {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:19px;
}
._五级标题1 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:15px;
}
._复选框 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._下拉列表框 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.label2 {
  font-size:14px;
  text-align:left;
}
.line1 {
}
.box_21 {
}
.ellipse1 {
}
.image1 {
}
.primary_button {
  color:#FFFFFF;
}
.text_area1 {
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.button1 {
}
.box_31 {
}
.link_button {
  color:#169BD5;
}
.table_cell1 {
  font-family:'Inziu Iosevka SC';
  font-weight:400;
  font-style:normal;
}
._连接线 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
  text-align:center;
  line-height:normal;
}
.html_button {
  text-align:center;
}
._形状3 {
}
._提交按钮 {
  color:#000000;
}
._表格1 {
}
